<a href="https://colab.research.google.com/github/Swathi04/CMPE256_Apriori_Colab/blob/main/256_Apriori_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Apriori Algorithm for Market basket analysis
Submitted by: SWATHI ANANDRAM

##APRIORI ALGORITHM
Apriori is an algorithm for frequent item set mining and association rule learning over relational databases. It proceeds by identifying the frequent individual items in the database and extending them to larger and larger item sets as long as those item sets appear sufficiently often in the database. The frequent item sets determined by Apriori can be used to determine association rules which highlight general trends in the database: this has applications in domains such as market basket analysis.

##Installing necessary libraries

In [ ]:
!pip install mlxtend --upgrade

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.19.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scikit-learn>=0.20.3 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.6)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.3->mlxtend) (3.0.0)

##Importing necessary libraries

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

##Import dataset from drive

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

##Load the data frame and change it to the necessary format

In [ ]:
data_frame = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/TRAIN-ARULES.csv')
data_frame.product_name = ["".join(i.split(",")) for i in data_frame.product_name]
orders = data_frame.order_id.unique()
transactions = [data_frame[data_frame.order_id == i]["product_name"].tolist() for i in orders]
trans_encoder = TransactionEncoder().fit(transactions)
transactions = trans_encoder.transform(transactions)
transactions = pd.DataFrame(transactions,columns=trans_encoder.columns_)

##Calculate the frequent itemset using Apriori, also calculate the Association rules using Apriori

In [ ]:
freq_itemset_using_apriori = apriori(transactions, min_support = 0.01, use_colnames = True)
association_rules_using_apriori = association_rules(freq_itemset_using_apriori, metric = "confidence")

##Association Rules generation using Apriori Method

In [ ]:
print("Association Rules using Apriori Method:- \n")
for item in association_rules_using_apriori.iterrows():
  print(f"Rule {item[0] + 1}: {tuple(item[1].antecedents)} -> {tuple(item[1].consequents)}")

Association Rules using Apriori Method:-

Rule 1: ('Petit Suisse Fruit',) -> ('Authentic French Brioche',)
Rule 2: ('Authentic French Brioche',) -> ('Petit Suisse Fruit',)
Rule 3: ('Oatmeal Crème Pies',) -> ('Cran-Apple Juice Drink',)
Rule 4: ('Cran-Apple Juice Drink',) -> ('Oatmeal Crème Pies',)
Rule 5: ('Sparkling Water Natural Mango Essenced',) -> ('Dark Chocolate Minis',)
Rule 6: ('Grade A Extra Large Eggs',) -> ('Natural Lime Flavor Sparkling Mineral Water',)
Rule 7: ('Lemon Sparkling Water',) -> ('Orange Sparkling Water',)
Rule 8: ('Light Oaked Chardonnay',) -> ('Natural Lime Flavor Sparkling Mineral Water',)
Rule 9: ('Reduced Fat Milk',) -> ('Natural Artesian Bottled Water',)
Rule 10: ('Organic Graham Crunch Cereal',) -> ('Organic Heritage Flakes Cereal',)
Rule 11: ('Sparkling Water Natural Mango Essenced',) -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 12: ('Sparkling Water Natural Mango Essenced',) -> ('Peach-Pear Sparkling Water',)
Rule 13: ('Zero Calorie Cola',) -> ('Soda',)
Rule 14: ('Total 0% Raspberry Yogurt',) -> ('Total 2% with Strawberry Lowfat Greek Strained Yogurt',)
Rule 15: ('Total 2% Lowfat Greek Strained Yogurt With Blueberry',) -> ('Total 2% with Strawberry Lowfat Greek Strained Yogurt',)
Rule 16: ('Dark Chocolate Minis', 'Peach-Pear Sparkling Water') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 17: ('Peach-Pear Sparkling Water', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Dark Chocolate Minis',)
Rule 18: ('Sparkling Water Natural Mango Essenced', 'Dark Chocolate Minis') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 19: ('Sparkling Water Natural Mango Essenced', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Dark Chocolate Minis',)
Rule 20: ('Sparkling Water Natural Mango Essenced',) -> ('Dark Chocolate Minis', 'Organic Pink Lemonade Bunny Fruit Snacks')
Rule 21: ('Sparkling Water Natural Mango Essenced', 'Dark Chocolate Minis') -> ('Peach-Pear Sparkling Water',)
Rule 22: ('Sparkling Water Natural Mango Essenced', 'Peach-Pear Sparkling Water') -> ('Dark Chocolate Minis',)
Rule 23: ('Dark Chocolate Minis', 'Peach-Pear Sparkling Water') -> ('Sparkling Water Natural Mango Essenced',)
Rule 24: ('Sparkling Water Natural Mango Essenced',) -> ('Dark Chocolate Minis', 'Peach-Pear Sparkling Water')
Rule 25: ('Natural Lime Flavor Sparkling Mineral Water', 'Light Oaked Chardonnay') -> ('Grade A Extra Large Eggs',)
Rule 26: ('Light Oaked Chardonnay', 'Grade A Extra Large Eggs') -> ('Natural Lime Flavor Sparkling Mineral Water',)
Rule 27: ('Organic Heritage Flakes Cereal', 'Peach-Pear Sparkling Water') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 28: ('Sparkling Water Natural Mango Essenced', 'Peach-Pear Sparkling Water') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 29: ('Sparkling Water Natural Mango Essenced', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Peach-Pear Sparkling Water',)
Rule 30: ('Peach-Pear Sparkling Water', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Sparkling Water Natural Mango Essenced',)
Rule 31: ('Sparkling Water Natural Mango Essenced',) -> ('Peach-Pear Sparkling Water', 'Organic Pink Lemonade Bunny Fruit Snacks')
Rule 32: ('Sparkling Water Natural Mango Essenced', 'Dark Chocolate Minis', 'Peach-Pear Sparkling Water') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 33: ('Sparkling Water Natural Mango Essenced', 'Dark Chocolate Minis', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Peach-Pear Sparkling Water',)
Rule 34: ('Sparkling Water Natural Mango Essenced', 'Peach-Pear Sparkling Water', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Dark Chocolate Minis',)
Rule 35: ('Dark Chocolate Minis', 'Peach-Pear Sparkling Water', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Sparkling Water Natural Mango Essenced',)
Rule 36: ('Sparkling Water Natural Mango Essenced', 'Dark Chocolate Minis') -> ('Peach-Pear Sparkling Water', 'Organic Pink Lemonade Bunny Fruit Snacks')
Rule 37: ('Sparkling Water Natural Mango Essenced', 'Peach-Pear Sparkling Water') -> ('Dark Chocolate Minis', 'Organic Pink Lemonade Bunny Fruit Snacks')
Rule 38: ('Sparkling Water Natural Mango Essenced', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Dark Chocolate Minis', 'Peach-Pear Sparkling Water')
Rule 39: ('Dark Chocolate Minis', 'Peach-Pear Sparkling Water') -> ('Sparkling Water Natural Mango Essenced', 'Organic Pink Lemonade Bunny Fruit Snacks')

##Load Test Rules

In [ ]:
data_frame_test = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/testarules.csv')
data_frame_test.product_name = ["".join(i.split(",")) for i in data_frame_test]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

##Check the test dataset

In [ ]:
data_frame_test

                  Item1                                     Item2  ... Item4  Item5
0  Dark Chocolate Minis  Organic Pink Lemonade Bunny Fruit Snacks  ...   NaN    NaN

[1 rows x 5 columns]

##Lets analyse the support for the first item based on the training dataset

In [ ]:
data_frame_test['Item1']

0    Dark Chocolate Minis
Name: Item1, dtype: object

In [ ]:
freq_itemset_using_apriori[ freq_itemset_using_apriori['itemsets'] == {'Dark Chocolate Minis'} ]

     support                itemsets
26  0.021157  (Dark Chocolate Minis)

##Lets analyse the support for the second item based on the training dataset

In [ ]:
data_frame_test['Item2']

0    Organic Pink Lemonade Bunny Fruit Snacks
Name: Item2, dtype: object

In [ ]:
freq_itemset_using_apriori[ freq_itemset_using_apriori['itemsets'] == {'Organic Pink Lemonade Bunny Fruit Snacks'} ]

     support                                    itemsets
97  0.020451  (Organic Pink Lemonade Bunny Fruit Snacks)

##Lets analyse the support for the third item based on the training dataset

In [ ]:
data_frame_test['Item3']

0    Peach-Pear Sparkling Water
Name: Item3, dtype: object

In [ ]:
freq_itemset_using_apriori[ freq_itemset_using_apriori['itemsets'] == {'Peach-Pear Sparkling Water'} ]

      support                      itemsets
116  0.016925  (Peach-Pear Sparkling Water)